<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
	
        @media screen {
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }

            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
            }

            @font-face {
                font-family: 'Lato';
                font-style: italic;
                font-weight: 400;
                src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
            }

            @font-face {
                font-family: 'Lato';
                font-style: italic;
                font-weight: 700;
                src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
            }
        }

        /* CLIENT-SPECIFIC STYLES */
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            margin: 0 !important;
            padding: 0 !important;
            max-height: 200px !important;
        }
        .custom-table {
            background-image: url('https://drive.google.com/uc?export=download&id=117l3S1zsFRxyWLrMGsOYaB_kV3seXFq4');
            background-size: contain; /* Adjust as needed */
            background-repeat: no-repeat;
            width: 100%;
            height: 100px;
        }
        .custom-table2 {
            background-image: url('https://drive.google.com/uc?export=download&id=117l3S1zsFRxyWLrMGsOYaB_kV3seXFq4');
            background-size: contain; /* Adjust as needed */
            background-repeat: no-repeat;
            width: 100%; /* Make the table fill its container */
        }
        
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
        @media screen and (max-width:600px) {
            h1 {
                font-size: 10px !important;
                line-height: 10px !important;
            }
        }
        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] {
            margin: auto !important;
        }
    </style>
</head>
<body style="background-color:  #f4f4f4; margin: 0 !important; padding: 0 0 100px  0  !important" class="custom-table">
<div style="display: flex; flex-direction: column; justify-content:space-between; height: 100%; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif;">

<p> hello </p>
<img  src="https://isbs.rnu.tn/stylesheets/images/LOGO-ISBS-header.svg" width="200" height="100" style="display: block; border: 0px; margin: auto;" />

</div>


</body>
</html>